<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<link rel='icon' href="/static/frontend/img/pcam-ico.png" type='image/x-icon'>
		<title>Vashchenko.com</title>
		<link type="text/css" href="/static/frontend/css/main.css" rel="stylesheet">
		<link media="screen" href="/static/frontend/css/bootstrap/css/bootstrap.css" rel="stylesheet">
	</head>
	<body>
		<div class="container">
			<div class="navbar">
				<div class="navbar-inner">
					<a class="brand" title="Vashchenko photo bucket" href="/"><img src="/static/frontend/img/logo.png" /></a>

					<ul class="nav">
						<div class="span1"></div>
						<li><a href="/">HOME</a></li>
						<li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">GALLERY</a>
							<ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu">
                                {% for e in album_list %}
									<li>
										<a tabindex="-1" href="/albums/{{e.name}}">{{e.name}}</a>
									</li>
                                {% endfor %}
							</ul>
                        </li>
                        <li><a href="/about/">ABOUT</a></li>
                   </ul>
                </div>
            </div>
            
			<div id="content">
				<h3 class="category">ALBUM: {{ album.name }} {% if photos %}({{ nf }} to {{ nl }}) {% endif %}</h3>
				{% if photos %}
				<div class="photos">
					{% for e in photos %}
			    	<div class="photo">
			    		<a href="/preview/{{ e.id }}">
			    		<img class="shadow" src="{{ e.image_url }}" />
			    		</a>
			    		<a href="{{ e.post_url }}"><h4 class="photo-name">{{ e.post_title }}</h4> 
			    		<h5 class="photo-date">{{ e.renew }}</h5></a>
			    	</div>
					{% endfor %}
			    </div>
				{% else %}
					<h5 class="category">There is no photo!</h5>
				{% endif %}
				<div class="stop-div"></div>
			    <div class="pagination pagination-centered">
			    	<ul>
						{% if paginator.has_previous %}
						<li><a href="/albums/{{ album.name }}/{{ paginator.previous }}/">&lt; Prev</a></li>
						{% else %}
						<li class="disabled"><a>&lt; Prev</a></li>
						{% endif %}
						{% if paginator.show_first %}
						<li><a href="/albums/{{ album.name }}/1/">1</a></li>
						<li class="disabled"><a>...</a></li>
						{% endif %}
						{% for linkpage in paginator.page_numbers %}
                            {% ifequal linkpage paginator.page %}
							<li class="active"><a>{{ paginator.page }}</a></li>
							{% else %}
							<li><a href="/albums/{{ album.name }}/{{ linkpage }}/">{{ linkpage }}</a></li>
							{% endifequal %}
						{% endfor %}
						{% if paginator.show_last %}
                        <li class="disabled"><a>...</a></li>
						<li><a href="/albums/{{ album.name }}/{{ paginator.pages }}/">{{ paginator.pages }}</a></li>
                        {% endif %}
						{% if paginator.has_next %}
						<li><a href="/albums/{{ album.name }}/{{ paginator.next }}/">Next &gt;</a></li>
						{% else %}
						<li class="disabled"><a>Next &gt;</a></li>
						{% endif %}
					</ul>
				</div>
			</div>

			<div id="blank-footer">
			</div>
			<div id="footer">
				<hr />
				<span class="muted">Yuri Vashchenko. All rights reserved</span>
			</div>
		</div>
		<script>
			$('.nav').children('.dropdown').hover(
			function(){
			$(this).addClass('open');
			},
			function(){
			$(this).removeClass('open');
			});
		</script>
		<script src="http://code.jquery.com/jquery-latest.js"></script>
		<script src="/static/frontend/css/bootstrap/js/bootstrap.js"></script>
	</body>
</html>
