<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<link rel='icon' href="/static/frontend/img/pcam-ico.png" type='image/x-icon'>
		<title>Vashchenko.com</title>
		<link type="text/css" href="/static/frontend/css/main.css" rel="stylesheet">
		<link media="screen" href="/static/frontend/css/bootstrap/css/bootstrap.css" rel="stylesheet">
	</head>
	<body>
		<div class="container">
			<div class="navbar">
				<div class="navbar-inner">
					<a class="brand" title="Vashchenko photo bucket" href="/"><img src="/static/frontend/img/logo.png" /></a>

					<ul class="nav">
						<div class="span1"></div>
						<li class="active"><a href="/">HOME</a></li>
						<li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">GALLERY</a>
							<ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu">
                                {% for e in album_list %}
									<li>
										<a tabindex="-1" href="/albums/{{e.name}}">{{e.name}}</a>
									</li>
                                {% endfor %}
							</ul>
                        </li>
                        <li><a href="/about/">ABOUT</a></li>
                   </ul>
                </div>
            </div>          
<div id="content">

 
  <fieldset>
 <legend>
         <h2>photo купить</h2>
 </legend>

   <p> {{ buy.message}} </p>

    <form action="" method="post">
        <div class="field">
            {% if form.FirstName.errors %}
            	<label style="color: red;">First Name</label>	  
	   {% else %}
		<label style="color: black;">First Name</label> 	
	   {% endif %}
            {{ form.FirstName }}
        </div>
  	<div class="field">
            {% if form.LastName.errors %}
            	<label style="color: red;">Last Name</label>	  
	   {% else %}
		<label style="color: black;">Last Name</label> 	
	   {% endif %}
            {{ form.LastName }}
        </div>
 
        <div class="field">
            {% if form.Email.errors %}
          	 <label style="color: red;">Email</label>
 	   {% else %}
		 <label style="color: black;" , for="id_email">Email</label>
	   {% endif %}
            {{ form.Email }}
        </div>

        <div class="field">
		 <label style="color: black;" , for="id_email">Country</label>
		{{ form.Country }}
	</div>

	 <div class="field">
            {% if form.Adress.errors %}
            	<label style="color: red;">Adress</label>	  
	   {% else %}
		<label style="color: black;">Adress</label> 	
	   {% endif %}
            {{ form.Adress }}
        </div>

	<div class="field">
            {% if form.Index.errors %}
            	<label style="color: red;">Index</label>	  
	   {% else %}
		<label style="color: black;">Index</label> 	
	   {% endif %}
            {{ form.Index }}
        </div>


        </div>
	<div class="field">
	   {% if form.captcha.errors %}
          	 <label style="color: red;" , for="id_email">Code in the image:</label>
 	   {% else %}
		 <label style="color: black;" , for="id_email">Code in the image:</label>
	   {% endif %}
            {{ form.captcha }} 
	</div>
  </fieldset>
        <input id="submit" type="submit" value="Submit">
    </form>
 </div>       
</body>
</html>
