{% extends "header.html" %}
{% block page %}
	{% block content %}       
<div id="content">

 
  <fieldset>
 <legend>
         <h2>Order print</h2>
 </legend>
    <form class="form-horizontal" action="" method="post">  
            {% if form.FirstName.errors %}
		<div class="control-group error">
		    	<label class="control-label" for="inputError">First Name</label>	 
			<div class="controls">{{ form.FirstName }} <span class="help-inline">*</span></div>
		</div>
	   {% else %}
		<div class="control-group success">
			<label class="control-label" for="inputSuccess">First Name</label> 
			<div class="controls">{{ form.FirstName }} <span class="help-inline">*</span></div>
		</div>
	   {% endif %}
            
        
  	
            {% if form.LastName.errors %}
		<div class="control-group error">
		    	<label class="control-label" for="inputError">Last Name</label>
			<div class="controls"> {{ form.LastName }} <span class="help-inline">*</span></div> 
		</div>
	   {% else %}
		<div class="control-group success">
			<label class="control-label" for="inputSuccess">Last Name</label> 	
			<div class="controls">{{ form.LastName }} <span class="help-inline">*</span></div>
		</div>
	   {% endif %}
      
        
            {% if form.Email.errors %}
		<div class="control-group error">
		  	<label class="control-label" for="inputError">Email</label>
			<div class="controls">{{ form.Email }} <span class="help-inline">*  We will send your order confirmation here</span></div>
		</div>
 	   {% else %}
		<div class="control-group success">
			 <label class="control-label" for="inputSuccess">Email</label>
			 <div class="controls">{{ form.Email }} <span class="help-inline">*  We will send your order confirmation here</span> </div>
		</div>
	   {% endif %}
            
      

	
            {% if form.Address1.errors %}
		<div class="control-group error">
		    	<label class="control-label" for="inputError">Street 1</label>
			<div class="controls">{{ form.Address1 }} <span class="help-inline">*</span></div>	
		</div>  
	   {% else %}
		<div class="control-group success">
			<label class="control-label" for="inputSuccess">Street 1</label> 
			<div class="controls">{{ form.Address1 }} <span class="help-inline">*</span>	</div>
		</div>
	   {% endif %}
            
        

	
            {% if form.Address2.errors %}
		<div class="control-group error">
		    	<label class="control-label" for="inputError">Street 2</label>	
			<div class="controls">{{ form.Address2 }}</div>  
		</div>
	   {% else %}
		<div class="control-group success">
			<label class="control-label" for="inputSuccess">Street 2</label> 	
			<div class="controls">{{ form.Address2 }}</div>
		</div>
	   {% endif %}    

	
            {% if form.City.errors %}
	    	<div class="control-group error">
		    	<label class="control-label" for="inputError">City</label>	
			<div class="controls">{{ form.City }} <span class="help-inline">*</span> </div>
		</div>
	   {% else %}
		<div class="control-group success">
			<label class="control-label" for="inputSuccess">City</label> 	
			<div class="controls">{{ form.City }} <span class="help-inline">*</span> </div>
		</div>
	   {% endif %}
            
	
            {% if form.State.errors %}
		<div class="control-group error">
		    	<label class="control-label" for="inputError">State</label>	
			<div class="controls">{{ form.State }} <span class="help-inline">*</span> </div>
		</div>
	   {% else %}
		<div class="control-group success">
			<label class="control-label" for="inputSuccess">State</label> 	
			<div class="controls">{{ form.State }} <span class="help-inline">*</span> </div>
		</div>
	   {% endif %}
            
      
	<div class="control-group success">
		<label class="control-label" for="inputSuccess">Country</label>
		<div class="controls">{{ form.Country }} </div>
	</div>

	
            {% if form.Index.errors %}
		<div class="control-group error">
		    	<label class="control-label" for="inputError">Zip code</label>	 
			 <div class="controls">{{ form.Index }} <span class="help-inline">*</span> </div>
		</div>
	   {% else %}
		<div class="control-group success">
			<label class="control-label" for="inputSuccess">Zip code</label> 
			 <div class="controls">{{ form.Index }} <span class="help-inline">*</span> </div>	
		</div>
	   {% endif %}
           
       



	   {% if form.captcha.errors %}
		<div class="control-group error">
		  	<label class="control-label" for="inputError">Code in the image</label>
			 <div class="controls">{{ form.captcha }}</div>
		</div>
 	   {% else %}
		 <div class="control-group success">
			 <label class="control-label" for="inputSuccess">Code in the image</label>
			 <div class="controls">{{ form.captcha }}</div>
		</div>
	   {% endif %}
             
	
	<div class="controls">
        <input id="submit" class="btn" type="submit" value="Submit">
	</div>
    </form>
  </fieldset>
 </div>       
{% endblock %}
	{% endblock %}
