<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<link rel='icon' href="static/frontend/img/i.png" type='image/x-icon'> 
		<title>Vashchenko.com</title>
		<link type="text/css" href="static/frontend/css/main.css" rel="stylesheet">
		<link media="screen" href="static/frontend/css/bootstrap.css" rel="stylesheet">
		<meta charset="utf-8">
		<link rel='icon' href="static/frontend/img/i.png" type='image/x-icon'> 
		<link href="static/frontend/css/bootstrap/css/bootstrap.css" rel="stylesheet" media="screen" >
		<link href="static/frontend/css/style.css" rel="stylesheet" type="text/css" >
	</head>
	<body>
		<div class="container">
			<div class="navbar">
                <div class="navbar-inner">
                   <a class="brand" title="Vashchenko photo bucket" href="http://loc.vashchenko.com"><img src="photoplus/static/frontend/img/logo.png"/></a>
                   
                   <ul class="nav">
                        <div class="span1"></div>
                        <li><a href="index.html">HOME</a></li>
                        <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">GALLERY</a>
                        	<ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu">
									<li>
										<a tabindex="-1" href="gallery.html">PEOPLE</a>
									</li>
									<li>
										<a tabindex="-1" href="gallery.html">CITY</a>
									</li>
									<li>
										<a tabindex="-1" href="gallery.html">NATURE</a>
									</li>
							</ul>
                        </li>
                        <li class="active"><a href="about.html">ABOUT</a></li>
                   </ul>
                </div>
            </div>
            
			<div id="content">
				<div id="description">
					<img src="static/frontend/img/autor.png" class="float-right"/>
					<h4>About Me</h4>
					<span>
						kzkzkzkzkzkzkzkzkzkzkzkzkzkzkzkzkzkzkzkzkzkzkzkzkzkzkzkzkzkzkzkzkzkzkzkzkzkzkzkzkzkzkzkzkzkzkzkzkzkzkzkzkzkzkzkzkzkzkzkzkzkzkzkzkzkzkzkzkzkzkzkzkzkzkzkzkzkzkzkzkzkzkzkzkzkzkzkzkzkzkzkzkzkzkzkzkzkzkzkzkzkzkzkzkzkzkzkzkzkzkzkzkzkzkzkzkzkzkzkzkzkzkzkzkzkzkzkzkzkzkzkzkzkzkzkzkzkzkzkzkzkzkzkzkzkzkzkzkzkzkzkzkzkzkzkzkzkzkzkzkzkzkzkzkzkzkzkzkzkzkzkzkzkzkzkzkzkzkzkzkzkzkzkzkzkzkzkzkzkzkzkzkzkzkzkzkzkzkzkzkzkzkzkzkzkzkzkzkzkzkzkzkzkzkzkzkzkzkzkzkzkzkzkzkzkzkzkzkzkzkzkzkzkzkzkzkzkzkzkzkzkzkzkzkzkzkzkzkzkzkzkzkzkzkzkzkzkzkzkzkzkzkzkzkzkzkzkzkzkzkzkzkzkzkzkzkzkzkzkzkzkzkzkzkzkzkzkzkzkzkzkzkzkzkzkzkzkzkzkzkzkzkzkzkzkzkzkzkzkzkzkz
					</span>
					<div class="stop-div"></div>
				</div>
				<div id="contact">
					<h4>Contact Me</h4>
					<a href="#"><h5>LEAVE FEEDBACK</h5></a>
				</div>
			</div>
			
			<div id="blank-footer"></div>
			<div id="footer">
				<hr />
				<span class="muted">Yuri Vashchenko. All rights reserved</span>
			</div>
		</div>
		<script src="http://code.jquery.com/jquery-latest.js"></script>
		<script src="js/bootstrap.js"></script>
		<script src="http://code.jquery.com/jquery-latest.js"></script>
		<script src="bootstrap/js/bootstrap.min.js"></script>
	</body>
</html>
