{% extends "header.html" %}
{% block page %}
	{% block content %}
			<div id="content">
				{% if best_photo %}
				<div id="BestPhotos" class="carousel slide">

					<!-- Carousel items -->
					<div class="carousel-inner">
					{% for e in best_photo %}
						<div class="{% if forloop.first %}active {% endif %}item"><a href="/preview_best/{{ e.id }}"><img WIDTH=1020 style="margin-left: 10px; margin-top: 20px; margin-bottom: 20px;"  class="shadow" title="CLICK TO GO TO POST PAGE" class="shadow best-photo" src="{{ e.image_url }}" /></a></div>
					{% endfor %}
					</div>
					<!-- Carousel nav -->
					<a class="carousel-control left" href="#BestPhotos" data-slide="prev">&lsaquo;</a>
					<a class="carousel-control right" href="#BestPhotos" data-slide="next">&rsaquo;</a>
				</div>
				<hr />
				{% endif %}

				<legend><h2 class="category">ALBUM: ALL {% if last %}({{ nf }} to {{ nl }}) {% endif %}</h2></legend>
				{% if last %}
				<div class="photos">
					{% for e in last %}
			    	<div class="photo">
			    		<a href="/preview/{{ e.id }}">
			    		<img height=1024 class="shadow" src="{{ e.image_url }}" />
			    		</a>
			    		<a href="{{ e.post_url }}" target="_blank"><h4 class="photo-name">{{ e.post_title }}</h4> 
			    		<h5 class="photo-date">{{ e.renew }}</h5></a>
					<br><br>
			    	</div>
					{% endfor %}
			    </div>
				{% else %}
					<h5 class="category">There is no photo!</h5>
				{% endif %}
				<div class="stop-div"></div>
			    <div class="pagination pagination-centered">
			    	<ul>
						{% if paginator.has_previous %}
						<li><a href="/page/{{ paginator.previous }}/">&lt; Prev</a></li>
						{% else %}
						<li class="disabled"><a>&lt; Prev</a></li>
						{% endif %}
						{% if paginator.show_first %}
						<li><a href="/page/1/">1</a></li>
						<li class="disabled"><a>...</a></li>
						{% endif %}
						{% for linkpage in paginator.page_numbers %}
                            {% ifequal linkpage paginator.page %}
							<li class="active"><a>{{ paginator.page }}</a></li>
							{% else %}
							<li><a href="/page/{{ linkpage }}/">{{ linkpage }}</a></li>
							{% endifequal %}
						{% endfor %}
						{% if paginator.show_last %}
                        <li class="disabled"><a>...</a></li>
						<li><a href="/page/{{ paginator.pages }}/">{{ paginator.pages }}</a></li>
                        {% endif %}
						{% if paginator.has_next %}
						<li><a href="/page/{{ paginator.next }}/">Next &gt;</a></li>
						{% else %}
						<li class="disabled"><a>Next &gt;</a></li>
						{% endif %}
					</ul>
				</div>
     			</div>
	{% endblock %}
{% endblock %}
