{% extends "header.html" %}
{% block page %}
	{% block content %}
			<div id="content">
				
				<div id="BestPhotos" class="carousel slide">
					<script type="text/javascript">
						
						$(document).ready(function(){
							var mass = new Array();
							var className = '';
							$.get("https://picasaweb.google.com/data/feed/api/user/{{account}}/albumid/{{album_id}}?alt=json&access_token=989184939691",function(data){
								for (var i = 0; i <data.feed.entry.length; i ++ ) {
									if (i == 0) {
										className = "active item";
									}
									else{
										className = "item";
									}
									mass[i] = data.feed.entry[i].content.src;
									document.getElementsByName("carousel")[0].innerHTML  += 
												  
												  "<div class=\""+className+"\">"+
													"<a href=\"/preview/"+data.feed.entry[i].gphoto$id.$t+"\">"+
														"<img WIDTH=1020 id=\"best_photo\" style=\"margin-left: 10px; margin-top: 20px; margin-bottom: 20px;\"  class=\"shadow best-photo\" title=\"CLICK TO GO TO POST PAGE\" src=\""+mass[i]+"\" />"+
													"</a>"+
												  "</div>";
								}
                                //Carousel nav 
								document.getElementById("BestPhotos").innerHTML  += 
                                                    "<a class=\"carousel-control left\" href=\"#BestPhotos\" data-slide=\"prev\">&lsaquo;</a>"+
													"<a class=\"carousel-control right\" href=\"#BestPhotos\" data-slide=\"next\">&rsaquo;</a>";
							});
						});
					</script>
					<!-- Carousel items -->
					<div class="carousel-inner" name="carousel">
					
					</div>
					
					</div>
					<hr />
					
	
					<legend><h2 class="category">ALBUM: ALL {% if last %}({{ nf }} to {{ nl }}) {% endif %}</h2></legend>
					
					{% if last %}
					<div class="photos">
						{% for e in last %}
						<div class="photo">
							<a href="/preview/{{ e.photo_id }}">
								<img height=1024 class="shadow" src="{{ e.image_url }}" />
							</a>
							<a href="{{ e.post_url }}" target="_blank"><h4 class="photo-name">{{ e.post_title }}</h4>
								<h5 class="photo-date">{{ e.renew }}</h5>
							</a>
							<br><br>
						</div>
						{% endfor %}
					</div>
					<div class="stop-div"></div>
					<div class="pagination pagination-centered">
						<ul>
							{% if paginator.has_previous %}
							<li><a href="/page/{{ paginator.previous }}/">&lt; Prev</a></li>
							{% else %}
							<li class="disabled"><a>&lt; Prev</a></li>
							{% endif %}
							{% if paginator.show_first %}
							<li><a href="/page/1/">1</a></li>
							<li class="disabled"><a>...</a></li>
							{% endif %}
							{% for linkpage in paginator.page_numbers %}
								{% ifequal linkpage paginator.page %}
								<li class="active"><a>{{ paginator.page }}</a></li>
								{% else %}
								<li><a href="/page/{{ linkpage }}/">{{ linkpage }}</a></li>
								{% endifequal %}
							{% endfor %}
							{% if paginator.show_last %}
							<li class="disabled"><a>...</a></li>
							<li><a href="/page/{{ paginator.pages }}/">{{ paginator.pages }}</a></li>
							{% endif %}
							{% if paginator.has_next %}
							<li><a href="/page/{{ paginator.next }}/">Next &gt;</a></li>
							{% else %}
							<li class="disabled"><a>Next &gt;</a></li>
							{% endif %}
						</ul>
					</div>
					{% else %}
					<h5 class="category">There is no photo!</h5>
					{% endif %}
     			</div>
	{% endblock %}
{% endblock %}

