{% extends "header.html" %}
{% block page %}
	{% block content %} 
<div id="content"> 
	
<legend>
        <table WIDTH=100%>
		<tr>
			<td><h2 align="left">{{ photo.post_title }}</h2></td>
			<td><h6 align="right">{{ photo.renew }}</h6></td>
		<tr>
	</table>
</legend>
	
	<a href="{{ photo.post_url }}" target="_blank"><img WIDTH="1024" style="margin-top: 20px; margin-bottom: 20px;"  class="shadow" title="CLICK TO GO TO POST PAGE" src="{{ photo.image_url }}"/></a>
	<a href="{{ photo.post_url }}" target="_blank">CLICK HERE TO LEAVE COMMENT</a>
	<br><br>
	<form>
	{% for e in prices %}
		<label class="radio">
		<input type="radio" name="priceRadios" id="priceRadios{{ forloop.counter }}" value="{{ e.id }}"
		{% if forloop.first %} checked{% endif %} />
		{{ e.size }}*{{e.on}}
		{{ e.price }}$
		</label>
	{% endfor %}
	</form>
	<button id="buyButton" type="submit" class="btn">Order print</button>
	<script>
			function buy_try() { 
				document.location.href = '/buy/' + {{ photo.id }} + '/' + $('input[name="priceRadios"]:checked').val() + '/';
			}
			document.getElementById("buyButton").onclick = buy_try;
	</script>
	{% endblock %}
{% endblock %}
